/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}

a {
  text-decoration: none;
  color: gray;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px;
  font-weight: bold;
  border-bottom: 1px solid #F2F2F2;
}

.header-title {
  margin-left: 30px;
  font-size: 30px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.container {
  padding: 16px 16px;
  width: 100%;
  margin: auto;
}

.section-title {
  margin: 30px 30px;
}

.btn-primary {
  background-color: #F8BD1C;
  border: none;
  width: 100%;
  text-align: center;
  color: white;
  padding: 16px 0;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
	right: 0;
	bottom: -300px;
}

.btn-submit {
  background-color: #F8BD1C;
  border: none;
  width: 100%;
  text-align: center;
  color: white;
  padding: 16px 0;
  font-weight: bold;
  font-size: 20px;
  /* position: absolute; */
	right: 0;
	bottom: 100px;
}

input[type="email"],input[type="password"] { 
  width: 100%;
  margin-bottom: 30px;
  padding: 16px 0;
  background: #F4F4F4;
  border-radius: 10px;
}

.field, .actions {
  margin: 0 30px;
}

.actions{
  position: relative;
  margin: 0 30px;
}

.board-submit {
  margin: 0 30px;
}

.flash {
  margin-left: 30px;
  font-size: 20px;
}

.alert {
  color: red;
}
.notice {
  color: blue;
}

form {
  margin: 0 auto;
}

.text-field {
  width: 100%;
  margin: 8px 0px;
  padding: 16px 24px;
  border: 1px solid #EBEBEB;
  background: #F4F4F4;
}

.text-area {
  width: 100%;
  margin: 30px 0px;
  padding: 60px 24px;
  border: 1px solid #EBEBEB;
  background: #F4F4F4;
}

.board {
  margin:0 70px 30px;
  font-size: 30px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 120px 70px;
  background: #F4F4F4;
  position: relative;
}

.add-new-borad {
  margin:0 70px 50px;
  font-size: 30px;
  text-align: center;
  border: 3px dashed rgba(0, 0, 0, 0.2);
  padding: 120px 70px;
}

.board-title {
  font-size: 34px;
  color: #000000;
  position: absolute;
  left: 3%;
  top: 35px;
}

.board-detail {
  font-size: 22px;
  color: gray;
  position: absolute;
  left: 3%;
  top: 100px;
}

.dropbtn {
  border: none;
  position: absolute;
  top: -80px; 
  right: -450px; 
  margin-right: auto;
}

.dropdown {
  position: absolute;
  top: 110px; 
  right: 530px;
  display: inline-block;
}

.dropdown-content {
  font-weight: normal;
  display: none;
  top: -70px; 
  right: -470px; 
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-colors: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}